<div class="page">
  <div class="container mat-elevation-z10">
    <div class="title">
      <span>Basic Calc</span>
      <span class="spacer"></span>
    </div>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Summing">
        <div class="content">
          <form [formGroup]="sumForm" class="basic-form">
            <mat-form-field appearance="outline" class="first-field">
              <mat-label>Addend 1</mat-label>
              <input type="number" matInput formControlName="a" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Addend 1</mat-label>
              <input type="number" matInput formControlName="b" required>
            </mat-form-field>
            <span class="spacer"></span>
            <mat-form-field appearance="outline" class="result-field">
              <mat-label>Result</mat-label>
              <input type="number" matInput readonly formControlName="result">
            </mat-form-field>
          </form>
          <div class="actions">
            <span class="spacer"></span>
            <button mat-raised-button color="primary" [disabled]="sumForm.invalid"
                    (click)="add()">ADD
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Subtraction">
        <div class="content">
          <form [formGroup]="subtractForm" class="basic-form">
            <mat-form-field appearance="outline" class="first-field">
              <mat-label>Minuend</mat-label>
              <input type="number" matInput formControlName="a" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Subtrahend</mat-label>
              <input type="number" matInput formControlName="b" required>
            </mat-form-field>
            <span class="spacer"></span>
            <mat-form-field appearance="outline" class="result-field">
              <mat-label>Result</mat-label>
              <input type="number" matInput readonly formControlName="result">
            </mat-form-field>
          </form>
          <div class="actions">
            <span class="spacer"></span>
            <button mat-raised-button color="primary" [disabled]="subtractForm.invalid"
                    (click)="subtract()">SUBTRACT
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Division">
        <div class="content">
          <form [formGroup]="divisionForm" class="basic-form">
            <mat-form-field appearance="outline" class="first-field">
              <mat-label>Dividend</mat-label>
              <input type="number" matInput formControlName="a" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Divisor</mat-label>
              <input type="number" matInput formControlName="b" required>
            </mat-form-field>
            <span class="spacer"></span>
            <mat-form-field appearance="outline" class="result-field">
              <mat-label>Result</mat-label>
              <input type="text" matInput readonly formControlName="result">
            </mat-form-field>
          </form>
          <div class="actions">
            <span class="spacer"></span>
            <button mat-raised-button color="primary" [disabled]="divisionForm.invalid"
                    (click)="divide()">DIVIDE
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Multiplication">
        <div class="content">
          <form [formGroup]="multiplicationForm" class="basic-form">
            <mat-form-field appearance="outline" class="first-field">
              <mat-label>Multiplicand</mat-label>
              <input type="number" matInput formControlName="a" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Multiplier</mat-label>
              <input type="number" matInput formControlName="b" required>
            </mat-form-field>
            <span class="spacer"></span>
            <mat-form-field appearance="outline" class="result-field">
              <mat-label>Result</mat-label>
              <input type="text" matInput readonly formControlName="result">
            </mat-form-field>
          </form>
          <div class="actions">
            <span class="spacer"></span>
            <button mat-raised-button color="primary" [disabled]="multiplicationForm.invalid"
                    (click)="multiply()">MULTIPLY
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
